.container-home {
  margin: 0 auto;
  width: 1264px;
  max-width: 100%;
  padding: 0 32px;
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;

  &__loader {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
  }
}
