.container-header {
  margin: 0 auto;
  width: 1264px;
  max-width: 100%;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;

  > h1 {
    font-size: 40px;
    margin-bottom: 0;
    font-weight: 800;

  }

  &__github {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    font-weight: 800;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    color: #000;

    > img {
      width: 24px;
      margin-right: 8px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }
  }
}
